@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-mobile: 480px;
}

@theme {
  /* FONT FAMILY */
  --font-body: "DM Sans", -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-display: "DM Sans", -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-mono: ui-monospace, "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-title: "DM Sans", -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-subheading: "DM Sans", -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-label: "DM Sans", -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-paragraph: "DM Sans", -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-family-sans: "DM Sans", -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  /* TYPOGRAPHY SCALE */
  --text-xs: 12px;
  --text-xs--line-height: 16.8px;
  --text-sm: 14px;
  --text-sm--line-height: 19.6px;
  --text-md: 16px;
  --text-md--line-height: 18.75px;
  --text-lg: 18px;
  --text-lg--line-height: 21.09375px;
  --text-xl: 24px;
  --text-xl--line-height: 28.125px;
  --text-2xl: 32px;
  --text-2xl--line-height: 37.5px;
  --text-3xl: 40px;
  --text-3xl--line-height: 46.875px;
  --text-4xl: 48px;
  --text-4xl--line-height: 57.6px;
  --text-5xl: 56px;
  --text-5xl--line-height: 64.4px;
  /* FIGMA TEXT STYLES */
  --text-title-h1: 56px;
  --text-title-h1--line-height: 1.1;
  --text-title-h1--letter-spacing: -0.56px;
  --text-title-h1--font-weight: 500;
  --text-title-h2: 48px;
  --text-title-h2--line-height: 1.1;
  --text-title-h2--letter-spacing: -0.48px;
  --text-title-h2--font-weight: 500;
  --text-title-h3: 40px;
  --text-title-h3--line-height: 1.1;
  --text-title-h3--letter-spacing: -0.4px;
  --text-title-h3--font-weight: 500;
  --text-title-h4: 32px;
  --text-title-h4--line-height: 1.1;
  --text-title-h4--letter-spacing: -0.16px;
  --text-title-h4--font-weight: 500;
  --text-title-h5: 24px;
  --text-title-h5--line-height: 1.1;
  --text-title-h5--letter-spacing: 0px;
  --text-title-h5--font-weight: 500;
  --text-title-h6: 20px;
  --text-title-h6--line-height: 1.1;
  --text-title-h6--letter-spacing: 0px;
  --text-title-h6--font-weight: 500;
  --text-label-lg: 24px;
  --text-label-lg--line-height: 1.1;
  --text-label-lg--letter-spacing: 0.36px;
  --text-label-lg--font-weight: 600;
  --text-label-bg: 18px;
  --text-label-bg--line-height: 1.1;
  --text-label-bg--letter-spacing: 0.27px;
  --text-label-bg--font-weight: 600;
  --text-label-md: 16px;
  --text-label-md--line-height: 1.1;
  --text-label-md--letter-spacing: 0.176px;
  --text-label-md--font-weight: 600;
  --text-label-sm: 14px;
  --text-label-sm--line-height: 1.1;
  --text-label-sm--letter-spacing: 0.084px;
  --text-label-sm--font-weight: 600;
  --text-label-xs: 12px;
  --text-label-xs--line-height: 1.1;
  --text-label-xs--letter-spacing: 0px;
  --text-label-xs--font-weight: 600;
  --text-paragraph-lg: 24px;
  --text-paragraph-lg--line-height: 1.4;
  --text-paragraph-lg--letter-spacing: -0.36px;
  --text-paragraph-lg--font-weight: 400;
  --text-paragraph-bg: 18px;
  --text-paragraph-bg--line-height: 1.4;
  --text-paragraph-bg--letter-spacing: -0.27px;
  --text-paragraph-bg--font-weight: 400;
  --text-paragraph-md: 16px;
  --text-paragraph-md--line-height: 1.4;
  --text-paragraph-md--letter-spacing: -0.176px;
  --text-paragraph-md--font-weight: 400;
  --text-paragraph-sm: 14px;
  --text-paragraph-sm--line-height: 1.4;
  --text-paragraph-sm--letter-spacing: -0.084px;
  --text-paragraph-sm--font-weight: 400;
  --text-paragraph-xs: 12px;
  --text-paragraph-xs--line-height: 1.4;
  --text-paragraph-xs--letter-spacing: 0px;
  --text-paragraph-xs--font-weight: 400;
  /* BASE COLOR */
  --color-transparent: #00000000;
  --color-white: #FFFFFFFF;
  --color-black: #000000FF;
  --color-static-white: #FFFFFFFF;
  --color-static-black: #000000FF;
  --color-gray-25: #FDFDFDFF;
  --color-gray-50: #F6F6F6FF;
  --color-gray-100: #F4F4F4FF;
  --color-gray-200: #E8E8E8FF;
  --color-gray-300: #CBCBCBFF;
  --color-gray-400: #999999FF;
  --color-gray-500: #707070FF;
  --color-gray-600: #525252FF;
  --color-gray-700: #2D2D2DFF;
  --color-gray-800: #222222FF;
  --color-gray-900: #1A1A1AFF;
  --color-gray-950: #171717FF;
  --color-brand-50: #FFF0F9FF;
  --color-brand-100: #FFE3F7FF;
  --color-brand-200: #FFC6EEFF;
  --color-brand-300: #FF98DFFF;
  --color-brand-400: #FF58C7FF;
  --color-brand-500: #FF27AEFF;
  --color-brand-600: #FF1493FF;
  --color-brand-700: #DF006CFF;
  --color-brand-800: #B8005AFF;
  --color-brand-900: #98034DFF;
  --color-brand-950: #5F002AFF;
  --color-sky-50: #E8F7FFFF;
  --color-sky-100: #CFEFFEFF;
  --color-sky-200: #B8E7FEFF;
  --color-sky-300: #8CD8FEFF;
  --color-sky-400: #5CC8FDFF;
  --color-sky-500: #3CBCFDFF;
  --color-sky-600: #2CA5E4FF;
  --color-sky-700: #1E8EC8FF;
  --color-sky-800: #1A74A2FF;
  --color-sky-900: #165B7FFF;
  --color-sky-950: #12435CFF;
  --color-olive-50: #F7F8EDFF;
  --color-olive-100: #EBEFD8FF;
  --color-olive-200: #D8E1B5FF;
  --color-olive-300: #BDCD89FF;
  --color-olive-400: #ABBE6FFF;
  --color-olive-500: #869D45FF;
  --color-olive-600: #687C34FF;
  --color-olive-700: #50602BFF;
  --color-olive-800: #414D27FF;
  --color-olive-900: #394324FF;
  --color-olive-950: #1D2310FF;
  --color-pink-50: #FEE8F2FF;
  --color-pink-100: #FED0E6FF;
  --color-pink-200: #FDB9DAFF;
  --color-pink-300: #FD8FC3FF;
  --color-pink-400: #FC61A9FF;
  --color-pink-500: #F74798FF;
  --color-pink-600: #E33483FF;
  --color-pink-700: #C7276EFF;
  --color-pink-800: #A1215AFF;
  --color-pink-900: #7E1B48FF;
  --color-pink-950: #5C1535FF;
  --color-teal-50: #E1FAF7FF;
  --color-teal-100: #CBFAF4FF;
  --color-teal-200: #BCF3EBFF;
  --color-teal-300: #7CE7D8FF;
  --color-teal-400: #3FD8C2FF;
  --color-teal-500: #2BCCB3FF;
  --color-teal-600: #24A592FF;
  --color-teal-700: #1D8072FF;
  --color-teal-800: #1D695EFF;
  --color-teal-900: #195950FF;
  --color-teal-950: #103D36FF;
  --color-slate-50: #F3F6F9FF;
  --color-slate-100: #F0F4F7FF;
  --color-slate-200: #DDE0E7FF;
  --color-slate-300: #C3C9D2FF;
  --color-slate-400: #8E96A4FF;
  --color-slate-500: #656C78FF;
  --color-slate-600: #484E5BFF;
  --color-slate-700: #262B33FF;
  --color-slate-800: #1F222AFF;
  --color-slate-900: #171A21FF;
  --color-slate-950: #101319FF;
  --color-blue-50: #E8EFFFFF;
  --color-blue-100: #CEDFFEFF;
  --color-blue-200: #B7D0FEFF;
  --color-blue-300: #8AB4FDFF;
  --color-blue-400: #588EFCFF;
  --color-blue-500: #1A5AFCFF;
  --color-blue-600: #2156E2FF;
  --color-blue-700: #1145C7FF;
  --color-blue-800: #1139A1FF;
  --color-blue-900: #0E2E7EFF;
  --color-blue-950: #0D235CFF;
  --color-orange-50: #FFF1E8FF;
  --color-orange-100: #FFE2D0FF;
  --color-orange-200: #FFD3B9FF;
  --color-orange-300: #FFB88EFF;
  --color-orange-400: #FF9960FF;
  --color-orange-500: #F86721FF;
  --color-orange-600: #DC5B1CFF;
  --color-orange-700: #C6531AFF;
  --color-orange-800: #AD4917FF;
  --color-orange-900: #8B3B14FF;
  --color-orange-950: #652D10FF;
  --color-red-50: #FFE8E9FF;
  --color-red-100: #FED0D3FF;
  --color-red-200: #FEB8BEFF;
  --color-red-300: #FD8D96FF;
  --color-red-400: #FD5F6AFF;
  --color-red-500: #F83341FF;
  --color-red-600: #E4313DFF;
  --color-red-700: #C8242EFF;
  --color-red-800: #A21E27FF;
  --color-red-900: #7F1920FF;
  --color-red-950: #5C1419FF;
  --color-green-50: #DDF9E9FF;
  --color-green-100: #CBFAE6FF;
  --color-green-200: #BCF3D6FF;
  --color-green-300: #7EE6ADFF;
  --color-green-400: #43D981FF;
  --color-green-500: #2CB763FF;
  --color-green-600: #28A459FF;
  --color-green-700: #207F47FF;
  --color-green-800: #1F693DFF;
  --color-green-900: #1B5835FF;
  --color-green-950: #123D24FF;
  --color-yellow-50: #FFF9E8FF;
  --color-yellow-100: #FFECC6FF;
  --color-yellow-200: #FFE8BAFF;
  --color-yellow-300: #FFDA8FFF;
  --color-yellow-400: #FFCA63FF;
  --color-yellow-500: #F5AA29FF;
  --color-yellow-600: #E39C25FF;
  --color-yellow-700: #C28E2EFF;
  --color-yellow-800: #9E7327FF;
  --color-yellow-900: #7B5A1FFF;
  --color-yellow-950: #58421AFF;
  --color-purple-50: #ECE9FEFF;
  --color-purple-100: #D6D1FEFF;
  --color-purple-200: #C1BAFDFF;
  --color-purple-300: #9A90FCFF;
  --color-purple-400: #7B6CF2FF;
  --color-purple-500: #6B51EFFF;
  --color-purple-600: #5740D8FF;
  --color-purple-700: #4A31BFFF;
  --color-purple-800: #3E299BFF;
  --color-purple-900: #322179FF;
  --color-purple-950: #2B1E68FF;
  /* SEMANTIC TOKENS (Light Mode Defaults) */
  --color-text-primary: var(--color-gray-900);
  --color-text-primary_on-brand: var(--color-static-white);
  --color-text-secondary: var(--color-gray-700);
  --color-text-secondary_hover: var(--color-gray-800);
  --color-text-secondary_on-brand: var(--color-brand-200);
  --color-text-tertiary: var(--color-gray-600);
  --color-text-tertiary_hover: var(--color-gray-700);
  --color-text-tertiary_on-brand: var(--color-brand-200);
  --color-text-quaternary: var(--color-gray-500);
  --color-text-quaternary_on-brand: var(--color-utility-gray-300);
  --color-text-white: var(--color-static-white);
  --color-text-disable: var(--color-gray-500);
  --color-text-placeholder: var(--color-gray-500);
  --color-text-placeholder_subtle: var(--color-gray-300);
  --color-text-brand_primary: var(--color-brand-900);
  --color-text-brand_secondary: var(--color-brand-700);
  --color-text-brand_secondary-hover: var(--color-brand-800);
  --color-text-brand_teriary: var(--color-brand-600);
  --color-text-brand_teriary-alt: var(--color-brand-600);
  --color-text-error: var(--color-red-600);
  --color-text-warning: var(--color-orange-600);
  --color-text-success: var(--color-green-600);
  --color-border-primary: var(--color-gray-300);
  --color-border-secondary: var(--color-gray-200);
  --color-border-secondary_alt: var(--color-gray-100);
  --color-border-tertiary: var(--color-gray-100);
  --color-border-disabled: var(--color-gray-300);
  --color-border-disabled_subtle: var(--color-gray-200);
  --color-border-brand: var(--color-brand-500);
  --color-border-brand_alt: var(--color-brand-600);
  --color-border-error: var(--color-red-500);
  --color-border-error_subtle: var(--color-red-300);
  --color-background-primary: var(--color-static-white);
  --color-background-primary_alt: var(--color-static-white);
  --color-background-primary_hover: var(--color-gray-50);
  --color-background-primary-solid: var(--color-gray-950);
  --color-background-secondary: var(--color-gray-50);
  --color-background-secondary_alt: var(--color-gray-50);
  --color-background-secondary_hover: var(--color-gray-100);
  --color-background-secondary_subtle: var(--color-gray-25);
  --color-background-tertiary: var(--color-gray-100);
  --color-background-quaternary: var(--color-gray-200);
  --color-background-active: var(--color-gray-50);
  --color-background-disabled: var(--color-gray-100);
  --color-background-disabled_subtle: var(--color-gray-50);
  --color-background-overlay: var(--color-gray-950);
  --color-background-brand_primary: var(--color-brand-50);
  --color-background-brand_primary-alt: var(--color-brand-50);
  --color-background-brand_secondary: var(--color-brand-100);
  --color-background-brand_solid: var(--color-brand-600);
  --color-background-brand_solid-hover: var(--color-brand-700);
  --color-background-brand_solid-section: var(--color-brand-800);
  --color-background-brand_solid-section-subtle: var(--color-brand-700);
  --color-background-error_primary: var(--color-red-50);
  --color-background-error_secondary: var(--color-red-100);
  --color-background-error_solid: var(--color-red-600);
  --color-background-error_solid-hover: var(--color-red-700);
  --color-background-warning_primary: var(--color-orange-50);
  --color-background-warning_secondary: var(--color-orange-100);
  --color-background-warning_solid: var(--color-orange-600);
  --color-background-success_primary: var(--color-green-50);
  --color-background-success_secondary: var(--color-green-100);
  --color-background-success_solid: var(--color-green-600);
  --color-foreground-primary: var(--color-gray-900);
  --color-foreground-secondary: var(--color-gray-700);
  --color-foreground-secondary_hover: var(--color-gray-800);
  --color-foreground-tertiary: var(--color-gray-600);
  --color-foreground-tertiary_hover: var(--color-gray-700);
  --color-foreground-quaternary: var(--color-gray-400);
  --color-foreground-quaternary_hover: var(--color-gray-500);
  --color-foreground-white: var(--color-static-white);
  --color-foreground-disabled: var(--color-gray-400);
  --color-foreground-disabled_subtle: var(--color-gray-400);
  --color-foreground-brand_primary: var(--color-brand-700);
  --color-foreground-brand_primary-alt: var(--color-brand-600);
  --color-foreground-brand_secondary: var(--color-brand-500);
  --color-foreground-brand_secondary-alt: var(--color-brand-400);
  --color-foreground-error_primary: var(--color-red-600);
  --color-foreground-error_secondary: var(--color-red-500);
  --color-foreground-warning_primary: var(--color-brand-600);
  --color-foreground-warning_secondary: var(--color-brand-500);
  --color-foreground-success_primary: var(--color-green-600);
  --color-foreground-success_secondary: var(--color-green-500);
  --color-utility-gray-50: var(--color-gray-50);
  --color-utility-gray-100: var(--color-gray-100);
  --color-utility-gray-200: var(--color-gray-200);
  --color-utility-gray-300: var(--color-gray-300);
  --color-utility-gray-400: var(--color-gray-400);
  --color-utility-gray-500: var(--color-gray-500);
  --color-utility-gray-600: var(--color-gray-600);
  --color-utility-gray-700: var(--color-gray-700);
  --color-utility-brand-50: var(--color-brand-50);
  --color-utility-brand-100: var(--color-brand-100);
  --color-utility-brand-200: var(--color-brand-200);
  --color-utility-brand-300: var(--color-brand-300);
  --color-utility-brand-400: var(--color-brand-400);
  --color-utility-brand-500: var(--color-brand-500);
  --color-utility-brand-600: var(--color-brand-600);
  --color-utility-brand-700: var(--color-brand-700);
  --color-utility-error-50: var(--color-red-50);
  --color-utility-error-100: var(--color-red-100);
  --color-utility-error-200: var(--color-red-200);
  --color-utility-error-300: var(--color-red-300);
  --color-utility-error-400: var(--color-red-400);
  --color-utility-error-500: var(--color-red-500);
  --color-utility-error-600: var(--color-red-600);
  --color-utility-error-700: var(--color-red-700);
  --color-utility-success-50: var(--color-green-50);
  --color-utility-success-100: var(--color-green-100);
  --color-utility-success-200: var(--color-green-200);
  --color-utility-success-300: var(--color-green-300);
  --color-utility-success-400: var(--color-green-400);
  --color-utility-success-500: var(--color-green-500);
  --color-utility-success-600: var(--color-green-600);
  --color-utility-success-700: var(--color-green-700);
  --color-utility-warning-50: var(--color-orange-50);
  --color-utility-warning-100: var(--color-orange-100);
  --color-utility-warning-200: var(--color-orange-200);
  --color-utility-warning-300: var(--color-orange-300);
  --color-utility-warning-400: var(--color-orange-400);
  --color-utility-warning-500: var(--color-orange-500);
  --color-utility-warning-600: var(--color-orange-600);
  --color-utility-warning-700: var(--color-orange-700);
  --color-utility-blue-50: var(--color-blue-50);
  --color-utility-blue-100: var(--color-blue-100);
  --color-utility-blue-200: var(--color-blue-200);
  --color-utility-blue-300: var(--color-blue-300);
  --color-utility-blue-400: var(--color-blue-400);
  --color-utility-blue-500: var(--color-blue-500);
  --color-utility-blue-600: var(--color-blue-600);
  --color-utility-blue-700: var(--color-blue-700);
  --color-utility-red-50: var(--color-red-50);
  --color-utility-red-100: var(--color-red-100);
  --color-utility-red-200: var(--color-red-200);
  --color-utility-red-300: var(--color-red-300);
  --color-utility-red-400: var(--color-red-400);
  --color-utility-red-500: var(--color-red-500);
  --color-utility-red-600: var(--color-red-600);
  --color-utility-red-700: var(--color-red-700);
  --color-utility-green-50: var(--color-green-50);
  --color-utility-green-100: var(--color-green-100);
  --color-utility-green-200: var(--color-green-200);
  --color-utility-green-300: var(--color-green-300);
  --color-utility-green-400: var(--color-green-400);
  --color-utility-green-500: var(--color-green-500);
  --color-utility-green-600: var(--color-green-600);
  --color-utility-green-700: var(--color-green-700);
  --color-utility-orange-50: var(--color-orange-50);
  --color-utility-orange-100: var(--color-orange-100);
  --color-utility-orange-200: var(--color-orange-200);
  --color-utility-orange-300: var(--color-orange-300);
  --color-utility-orange-400: var(--color-orange-400);
  --color-utility-orange-500: var(--color-orange-500);
  --color-utility-orange-600: var(--color-orange-600);
  --color-utility-orange-700: var(--color-orange-700);
  --color-utility-yellow-50: var(--color-yellow-50);
  --color-utility-yellow-100: var(--color-yellow-100);
  --color-utility-yellow-200: var(--color-yellow-200);
  --color-utility-yellow-300: var(--color-yellow-300);
  --color-utility-yellow-400: var(--color-yellow-400);
  --color-utility-yellow-500: var(--color-yellow-500);
  --color-utility-yellow-600: var(--color-yellow-600);
  --color-utility-yellow-700: var(--color-yellow-700);
  --color-utility-purple-50: var(--color-purple-50);
  --color-utility-purple-100: var(--color-purple-100);
  --color-utility-purple-200: var(--color-purple-200);
  --color-utility-purple-300: var(--color-purple-300);
  --color-utility-purple-400: var(--color-purple-400);
  --color-utility-purple-500: var(--color-purple-500);
  --color-utility-purple-600: var(--color-purple-600);
  --color-utility-purple-700: var(--color-purple-700);
  /* PROPERTY COLORS */
  --text-color-primary: var(--color-text-primary);
  --text-color-primary_on-brand: var(--color-text-primary_on-brand);
  --text-color-secondary: var(--color-text-secondary);
  --text-color-secondary_hover: var(--color-text-secondary_hover);
  --text-color-secondary_on-brand: var(--color-text-secondary_on-brand);
  --text-color-tertiary: var(--color-text-tertiary);
  --text-color-tertiary_hover: var(--color-text-tertiary_hover);
  --text-color-tertiary_on-brand: var(--color-text-tertiary_on-brand);
  --text-color-quaternary: var(--color-text-quaternary);
  --text-color-quaternary_on-brand: var(--color-text-quaternary_on-brand);
  --text-color-white: var(--color-text-white);
  --text-color-disable: var(--color-text-disable);
  --text-color-placeholder: var(--color-text-placeholder);
  --text-color-placeholder_subtle: var(--color-text-placeholder_subtle);
  --text-color-brand_primary: var(--color-text-brand_primary);
  --text-color-brand_secondary: var(--color-text-brand_secondary);
  --text-color-brand_secondary-hover: var(--color-text-brand_secondary-hover);
  --text-color-brand_teriary: var(--color-text-brand_teriary);
  --text-color-brand_teriary-alt: var(--color-text-brand_teriary-alt);
  --text-color-error: var(--color-text-error);
  --text-color-warning: var(--color-text-warning);
  --text-color-success: var(--color-text-success);
  --border-color-primary: var(--color-border-primary);
  --border-color-secondary: var(--color-border-secondary);
  --border-color-secondary_alt: var(--color-border-secondary_alt);
  --border-color-tertiary: var(--color-border-tertiary);
  --border-color-disabled: var(--color-border-disabled);
  --border-color-disabled_subtle: var(--color-border-disabled_subtle);
  --border-color-brand: var(--color-border-brand);
  --border-color-brand_alt: var(--color-border-brand_alt);
  --border-color-error: var(--color-border-error);
  --border-color-error_subtle: var(--color-border-error_subtle);
  --background-color-primary: var(--color-background-primary);
  --background-color-primary_alt: var(--color-background-primary_alt);
  --background-color-primary_hover: var(--color-background-primary_hover);
  --background-color-primary-solid: var(--color-background-primary-solid);
  --background-color-secondary: var(--color-background-secondary);
  --background-color-secondary_alt: var(--color-background-secondary_alt);
  --background-color-secondary_hover: var(--color-background-secondary_hover);
  --background-color-secondary_subtle: var(--color-background-secondary_subtle);
  --background-color-tertiary: var(--color-background-tertiary);
  --background-color-quaternary: var(--color-background-quaternary);
  --background-color-active: var(--color-background-active);
  --background-color-disabled: var(--color-background-disabled);
  --background-color-disabled_subtle: var(--color-background-disabled_subtle);
  --background-color-overlay: var(--color-background-overlay);
  --background-color-brand_primary: var(--color-background-brand_primary);
  --background-color-brand_primary-alt: var(--color-background-brand_primary-alt);
  --background-color-brand_secondary: var(--color-background-brand_secondary);
  --background-color-brand_solid: var(--color-background-brand_solid);
  --background-color-brand_solid-hover: var(--color-background-brand_solid-hover);
  --background-color-brand_solid-section: var(--color-background-brand_solid-section);
  --background-color-brand_solid-section-subtle: var(--color-background-brand_solid-section-subtle);
  --background-color-error_primary: var(--color-background-error_primary);
  --background-color-error_secondary: var(--color-background-error_secondary);
  --background-color-error_solid: var(--color-background-error_solid);
  --background-color-error_solid-hover: var(--color-background-error_solid-hover);
  --background-color-warning_primary: var(--color-background-warning_primary);
  --background-color-warning_secondary: var(--color-background-warning_secondary);
  --background-color-warning_solid: var(--color-background-warning_solid);
  --background-color-success_primary: var(--color-background-success_primary);
  --background-color-success_secondary: var(--color-background-success_secondary);
  --background-color-success_solid: var(--color-background-success_solid);
  --foreground-color-primary: var(--color-foreground-primary);
  --foreground-color-secondary: var(--color-foreground-secondary);
  --foreground-color-secondary_hover: var(--color-foreground-secondary_hover);
  --foreground-color-tertiary: var(--color-foreground-tertiary);
  --foreground-color-tertiary_hover: var(--color-foreground-tertiary_hover);
  --foreground-color-quaternary: var(--color-foreground-quaternary);
  --foreground-color-quaternary_hover: var(--color-foreground-quaternary_hover);
  --foreground-color-white: var(--color-foreground-white);
  --foreground-color-disabled: var(--color-foreground-disabled);
  --foreground-color-disabled_subtle: var(--color-foreground-disabled_subtle);
  --foreground-color-brand_primary: var(--color-foreground-brand_primary);
  --foreground-color-brand_primary-alt: var(--color-foreground-brand_primary-alt);
  --foreground-color-brand_secondary: var(--color-foreground-brand_secondary);
  --foreground-color-brand_secondary-alt: var(--color-foreground-brand_secondary-alt);
  --foreground-color-error_primary: var(--color-foreground-error_primary);
  --foreground-color-error_secondary: var(--color-foreground-error_secondary);
  --foreground-color-warning_primary: var(--color-foreground-warning_primary);
  --foreground-color-warning_secondary: var(--color-foreground-warning_secondary);
  --foreground-color-success_primary: var(--color-foreground-success_primary);
  --foreground-color-success_secondary: var(--color-foreground-success_secondary);
  /* Custom Spacing */
  --spacing: 0.25rem;
  --spacing-header: 3rem;
  --spacing-sidebar: 16rem;
  --spacing-sidebar-collapsed: 3.5rem;
  --spacing-content: 80rem;
  --spacing-content-sm: 45rem;
  --spacing-content-md: 64rem;
}

@layer components {

  .title-h1,
  .title-h2,
  .title-h3,
  .title-h4,
  .title-h5,
  .title-h6 {
    color: var(--text-color-primary);
    font-family: var(--font-title);
    font-style: normal;
  }

  .title-h1 {
    font-size: var(--text-title-h1);
    font-weight: var(--text-title-h1--font-weight);
    letter-spacing: var(--text-title-h1--letter-spacing);
    line-height: var(--text-title-h1--line-height);
  }

  .title-h2 {
    font-size: var(--text-title-h2);
    font-weight: var(--text-title-h2--font-weight);
    letter-spacing: var(--text-title-h2--letter-spacing);
    line-height: var(--text-title-h2--line-height);
  }

  .title-h3 {
    font-size: var(--text-title-h3);
    font-weight: var(--text-title-h3--font-weight);
    letter-spacing: var(--text-title-h3--letter-spacing);
    line-height: var(--text-title-h3--line-height);
  }

  .title-h4 {
    font-size: var(--text-title-h4);
    font-weight: var(--text-title-h4--font-weight);
    letter-spacing: var(--text-title-h4--letter-spacing);
    line-height: var(--text-title-h4--line-height);
  }

  .title-h5 {
    font-size: var(--text-title-h5);
    font-weight: var(--text-title-h5--font-weight);
    letter-spacing: var(--text-title-h5--letter-spacing);
    line-height: var(--text-title-h5--line-height);
  }

  .title-h6 {
    font-size: var(--text-title-h6);
    font-weight: var(--text-title-h6--font-weight);
    letter-spacing: var(--text-title-h6--letter-spacing);
    line-height: var(--text-title-h6--line-height);
  }

  .label-lg,
  .label-bg,
  .label-md,
  .label-sm,
  .label-xs {
    color: var(--text-color-primary);
    font-family: var(--font-label);
    font-style: normal;
  }

  .label-lg {
    font-size: var(--text-label-lg);
    font-weight: var(--text-label-lg--font-weight);
    letter-spacing: var(--text-label-lg--letter-spacing);
    line-height: var(--text-label-lg--line-height);
  }

  .label-bg {
    font-size: var(--text-label-bg);
    font-weight: var(--text-label-bg--font-weight);
    letter-spacing: var(--text-label-bg--letter-spacing);
    line-height: var(--text-label-bg--line-height);
  }

  .label-md {
    font-size: var(--text-label-md);
    font-weight: var(--text-label-md--font-weight);
    letter-spacing: var(--text-label-md--letter-spacing);
    line-height: var(--text-label-md--line-height);
  }

  .label-sm {
    font-size: var(--text-label-sm);
    font-weight: var(--text-label-sm--font-weight);
    letter-spacing: var(--text-label-sm--letter-spacing);
    line-height: var(--text-label-sm--line-height);
  }

  .label-xs {
    font-size: var(--text-label-xs);
    font-weight: var(--text-label-xs--font-weight);
    letter-spacing: var(--text-label-xs--letter-spacing);
    line-height: var(--text-label-xs--line-height);
  }

  .paragraph-lg,
  .paragraph-bg,
  .paragraph-md,
  .paragraph-sm,
  .paragraph-xs {
    color: var(--text-color-primary);
    font-family: var(--font-paragraph);
    font-style: normal;
  }

  .paragraph-lg {
    font-size: var(--text-paragraph-lg);
    font-weight: var(--text-paragraph-lg--font-weight);
    letter-spacing: var(--text-paragraph-lg--letter-spacing);
    line-height: var(--text-paragraph-lg--line-height);
  }

  .paragraph-bg {
    font-size: var(--text-paragraph-bg);
    font-weight: var(--text-paragraph-bg--font-weight);
    letter-spacing: var(--text-paragraph-bg--letter-spacing);
    line-height: var(--text-paragraph-bg--line-height);
  }

  .paragraph-md {
    font-size: var(--text-paragraph-md);
    font-weight: var(--text-paragraph-md--font-weight);
    letter-spacing: var(--text-paragraph-md--letter-spacing);
    line-height: var(--text-paragraph-md--line-height);
  }

  .paragraph-sm {
    font-size: var(--text-paragraph-sm);
    font-weight: var(--text-paragraph-sm--font-weight);
    letter-spacing: var(--text-paragraph-sm--letter-spacing);
    line-height: var(--text-paragraph-sm--line-height);
  }

  .paragraph-xs {
    font-size: var(--text-paragraph-xs);
    font-weight: var(--text-paragraph-xs--font-weight);
    letter-spacing: var(--text-paragraph-xs--letter-spacing);
    line-height: var(--text-paragraph-xs--line-height);
  }
}

@utility app-grid {
  display: grid;
  grid-template-areas: "topbar" "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100dvh;
}

@utility app-grid-desktop {
  grid-template-areas: "sidebar topbar" "sidebar content";
  grid-template-columns: auto 1fr;
}

@utility area-sidebar {
  grid-area: sidebar;
}

@utility area-topbar {
  grid-area: topbar;
}

@utility area-content {
  grid-area: content;
}

@utility all-unset {
  all: unset;
  display: inline;
  cursor: text;
}

/* BASE STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
}

/* Native-feel adjustments for installed PWA / mobile.
   Removes the default tap-highlight overlay and the rubber-band overscroll
   that breaks the illusion of a native app. */
html,
body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

body {
  /* iOS doesn't apply text-size-adjust by default in standalone PWAs;
     pin it so rotation doesn't change typography. */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

#overlay-root {
  position: fixed;
  inset: 0;
  z-index: 9000;
  pointer-events: none;
}

/* SCROLLBAR */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-300) transparent;
}

[data-theme="dark"] * {
  scrollbar-color: var(--color-gray-700) transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-400);
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: var(--color-gray-700);
}

[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-600);
}

button:focus-visible,
input:focus-visible,
select:focus-visible {
  outline: 2px solid var(--color-border-brand);
  outline-offset: 1px;
}

/* DARK MODE OVERRIDES */
@layer base {
  [data-theme="dark"] {
    --color-text-primary: var(--color-gray-50);
    --color-text-primary_on-brand: var(--color-gray-50);
    --color-text-secondary: var(--color-gray-300);
    --color-text-secondary_hover: var(--color-gray-200);
    --color-text-secondary_on-brand: var(--color-gray-300);
    --color-text-tertiary: var(--color-gray-400);
    --color-text-tertiary_hover: var(--color-gray-300);
    --color-text-tertiary_on-brand: var(--color-utility-gray-400);
    --color-text-quaternary: var(--color-gray-400);
    --color-text-quaternary_on-brand: var(--color-utility-gray-400);
    --color-text-white: var(--color-static-white);
    --color-text-disable: var(--color-gray-500);
    --color-text-placeholder: var(--color-gray-400);
    --color-text-placeholder_subtle: var(--color-gray-700);
    --color-text-brand_primary: var(--color-gray-50);
    --color-text-brand_secondary: var(--color-gray-300);
    --color-text-brand_secondary-hover: var(--color-gray-300);
    --color-text-brand_teriary: var(--color-gray-400);
    --color-text-brand_teriary-alt: var(--color-gray-50);
    --color-text-error: var(--color-red-400);
    --color-text-warning: var(--color-orange-400);
    --color-text-success: var(--color-green-400);
    --color-border-primary: var(--color-gray-700);
    --color-border-secondary: var(--color-gray-800);
    --color-border-secondary_alt: var(--color-gray-800);
    --color-border-tertiary: var(--color-gray-800);
    --color-border-disabled: var(--color-gray-700);
    --color-border-disabled_subtle: var(--color-gray-800);
    --color-border-brand: var(--color-brand-400);
    --color-border-brand_alt: var(--color-gray-700);
    --color-border-error: var(--color-red-400);
    --color-border-error_subtle: var(--color-red-500);
    --color-background-primary: var(--color-gray-950);
    --color-background-primary_alt: var(--color-gray-900);
    --color-background-primary_hover: var(--color-gray-800);
    --color-background-primary-solid: var(--color-gray-900);
    --color-background-secondary: var(--color-gray-900);
    --color-background-secondary_alt: var(--color-gray-950);
    --color-background-secondary_hover: var(--color-gray-800);
    --color-background-secondary_subtle: var(--color-gray-900);
    --color-background-tertiary: var(--color-gray-800);
    --color-background-quaternary: var(--color-gray-700);
    --color-background-active: var(--color-gray-800);
    --color-background-disabled: var(--color-gray-800);
    --color-background-disabled_subtle: var(--color-gray-900);
    --color-background-overlay: var(--color-gray-800);
    --color-background-brand_primary: var(--color-brand-500);
    --color-background-brand_primary-alt: var(--color-brand-800);
    --color-background-brand_secondary: var(--color-brand-600);
    --color-background-brand_solid: var(--color-brand-600);
    --color-background-brand_solid-hover: var(--color-brand-500);
    --color-background-brand_solid-section: var(--color-gray-800);
    --color-background-brand_solid-section-subtle: var(--color-gray-950);
    --color-background-error_primary: var(--color-red-950);
    --color-background-error_secondary: var(--color-red-600);
    --color-background-error_solid: var(--color-red-600);
    --color-background-error_solid-hover: var(--color-red-500);
    --color-background-warning_primary: var(--color-orange-950);
    --color-background-warning_secondary: var(--color-orange-600);
    --color-background-warning_solid: var(--color-orange-600);
    --color-background-success_primary: var(--color-green-950);
    --color-background-success_secondary: var(--color-green-600);
    --color-background-success_solid: var(--color-green-600);
    --color-foreground-primary: var(--color-static-white);
    --color-foreground-secondary: var(--color-gray-300);
    --color-foreground-secondary_hover: var(--color-gray-200);
    --color-foreground-tertiary: var(--color-gray-400);
    --color-foreground-tertiary_hover: var(--color-gray-300);
    --color-foreground-quaternary: var(--color-gray-600);
    --color-foreground-quaternary_hover: var(--color-gray-500);
    --color-foreground-white: var(--color-static-white);
    --color-foreground-disabled: var(--color-gray-500);
    --color-foreground-disabled_subtle: var(--color-gray-600);
    --color-foreground-brand_primary: var(--color-brand-500);
    --color-foreground-brand_primary-alt: var(--color-gray-300);
    --color-foreground-brand_secondary: var(--color-brand-500);
    --color-foreground-brand_secondary-alt: var(--color-gray-600);
    --color-foreground-error_primary: var(--color-red-500);
    --color-foreground-error_secondary: var(--color-red-400);
    --color-foreground-warning_primary: var(--color-brand-500);
    --color-foreground-warning_secondary: var(--color-brand-400);
    --color-foreground-success_primary: var(--color-green-500);
    --color-foreground-success_secondary: var(--color-green-400);
    --color-utility-gray-50: var(--color-gray-950);
    --color-utility-gray-100: var(--color-gray-900);
    --color-utility-gray-200: var(--color-gray-800);
    --color-utility-gray-300: var(--color-gray-700);
    --color-utility-gray-400: var(--color-gray-600);
    --color-utility-gray-500: var(--color-gray-500);
    --color-utility-gray-600: var(--color-gray-400);
    --color-utility-gray-700: var(--color-gray-300);
    --color-utility-brand-50: var(--color-brand-950);
    --color-utility-brand-100: var(--color-brand-900);
    --color-utility-brand-200: var(--color-brand-800);
    --color-utility-brand-300: var(--color-brand-700);
    --color-utility-brand-400: var(--color-brand-600);
    --color-utility-brand-500: var(--color-brand-500);
    --color-utility-brand-600: var(--color-brand-400);
    --color-utility-brand-700: var(--color-brand-300);
    --color-utility-error-50: var(--color-red-950);
    --color-utility-error-100: var(--color-red-900);
    --color-utility-error-200: var(--color-red-800);
    --color-utility-error-300: var(--color-red-700);
    --color-utility-error-400: var(--color-red-600);
    --color-utility-error-500: var(--color-red-500);
    --color-utility-error-600: var(--color-red-400);
    --color-utility-error-700: var(--color-red-300);
    --color-utility-success-50: var(--color-green-950);
    --color-utility-success-100: var(--color-green-900);
    --color-utility-success-200: var(--color-green-800);
    --color-utility-success-300: var(--color-green-700);
    --color-utility-success-400: var(--color-green-600);
    --color-utility-success-500: var(--color-green-500);
    --color-utility-success-600: var(--color-green-400);
    --color-utility-success-700: var(--color-green-300);
    --color-utility-warning-50: var(--color-orange-950);
    --color-utility-warning-100: var(--color-orange-900);
    --color-utility-warning-200: var(--color-orange-800);
    --color-utility-warning-300: var(--color-orange-700);
    --color-utility-warning-400: var(--color-orange-600);
    --color-utility-warning-500: var(--color-orange-500);
    --color-utility-warning-600: var(--color-orange-400);
    --color-utility-warning-700: var(--color-orange-300);
    --color-utility-blue-50: var(--color-blue-950);
    --color-utility-blue-100: var(--color-blue-900);
    --color-utility-blue-200: var(--color-blue-800);
    --color-utility-blue-300: var(--color-blue-700);
    --color-utility-blue-400: var(--color-blue-600);
    --color-utility-blue-500: var(--color-blue-500);
    --color-utility-blue-600: var(--color-blue-400);
    --color-utility-blue-700: var(--color-blue-300);
    --color-utility-red-50: var(--color-red-950);
    --color-utility-red-100: var(--color-red-900);
    --color-utility-red-200: var(--color-red-800);
    --color-utility-red-300: var(--color-red-700);
    --color-utility-red-400: var(--color-red-600);
    --color-utility-red-500: var(--color-red-500);
    --color-utility-red-600: var(--color-red-400);
    --color-utility-red-700: var(--color-red-300);
    --color-utility-green-50: var(--color-green-950);
    --color-utility-green-100: var(--color-green-900);
    --color-utility-green-200: var(--color-green-800);
    --color-utility-green-300: var(--color-green-700);
    --color-utility-green-400: var(--color-green-600);
    --color-utility-green-500: var(--color-green-500);
    --color-utility-green-600: var(--color-green-400);
    --color-utility-green-700: var(--color-green-300);
    --color-utility-yellow-50: var(--color-yellow-950);
    --color-utility-yellow-100: var(--color-yellow-900);
    --color-utility-yellow-200: var(--color-yellow-800);
    --color-utility-yellow-300: var(--color-yellow-700);
    --color-utility-yellow-400: var(--color-yellow-600);
    --color-utility-yellow-500: var(--color-yellow-500);
    --color-utility-yellow-600: var(--color-yellow-400);
    --color-utility-yellow-700: var(--color-yellow-300);
    --color-utility-purple-50: var(--color-purple-950);
    --color-utility-purple-100: var(--color-purple-900);
    --color-utility-purple-200: var(--color-purple-800);
    --color-utility-purple-300: var(--color-purple-700);
    --color-utility-purple-400: var(--color-purple-600);
    --color-utility-purple-500: var(--color-purple-500);
    --color-utility-purple-600: var(--color-purple-400);
    --color-utility-purple-700: var(--color-purple-300);
  }
}

.doc-block:empty::before {
  content: attr(data-placeholder);
  @apply text-quaternary pointer-events-none;
}

.scrollbar-hidden {
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer/Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari, and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.test {
  display: block;
  margin-top: -20px;
}